<div>
    <!-- form -->
    <div class="form-section">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="segment">
          <h1>Login</h1>
        </div>

        <label>
          <!-- <input type="text" [value]="accno" #accno (change)="accnoChange($event)" /> -->
          <!-- <input type="text" [(ngModel)]= "acno" placeholder="account number" #accno /> -->
          <input type="text" placeholder="account number" formControlName= "acno" name="account" />
          <p *ngIf="(loginForm.get('acno')?.touched || loginForm.get('acno')?.dirty) && loginForm.get('acno')?.errors">invalid Account number</p>
        </label>
        <label>
          <!-- <input type="password" placeholder="Password" #password (change)="pswdChange($event)" /> -->
          <!-- <input type="password" placeholder="Password" [(ngModel)]= "pswd" name="password" /> -->
          <input type="password" placeholder="Password" formControlName= "pswd" name="password" />
          <p *ngIf="(loginForm.get('pswd')?.touched || loginForm.get('pswd')?.dirty) && loginForm.get('pswd')?.errors">invalid password</p>
          
        </label>
        <button class="red" type="submit">
          <i class="icon ion-md-lock"></i> Log in
        </button>
        <div style="padding: 6px; text-align: center;"><a routerLink="register">forgot password</a></div>
        <button class="red" type="submit">
          <a routerLink="register">Create Account</a>
        </button>
      </form>
    </div>
</div>
