<div>
    <header class="l-header">
        <nav class="nav bd-grid">
          <div style="width: 50%;">
            <a href="#" class="nav__logo"><span class="head-logo">ICICI BANK </span><p>banking partner</p></a>
          </div>
          <div class="list">
            <div class="nav__item">
              <a href="" class="nav__link active">Home </a>
            </div>
            <div class="nav__item">
                <a routerLink="" class="nav__link">Login </a>
              </div>
            <div class="nav__item">
              <a href="register" class="nav__link"> create Account </a>
            </div>
            <div class="nav__item">
              <a routerLink="dashboard" class="nav__link">deposit </a>
            </div>  
          </div>
        </nav>
    </header>
</div>

<router-outlet></router-outlet>